@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}



/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn:hover{
    background: #C80205;
    color: white;
}

/* ------- BASE -------- */
body{
    background: #FAFAFA;
}

.container{
    width: 100%;
    position: relative;
}


/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #FAFAFA;
    padding-inline: 9vw;
    z-index: 100;
}
.nav-logo{
   position: relative;
   top: -15px;
   right: -20px;
   font-size: 5em;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: #C80205;
}

.nav-logo span{
    color: #444545;
}
.nav_menu_list{
    display: flex;
}
.nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: #444545;
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-link:hover{  
    color: #C80205;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}



/* -----  SECTION ACCEUIL  ----- */

/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.acc-box{
    position: relative;
    display: flex;
    height: 100px;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.acc-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}

.acc-name{
    font-size: 50px;
    font-weight: 600;
    color: #444545;
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
	font-size: 40px;
    color: #C80205;

}
.acc-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: #444545;
}
.acc-btn{
    display: flex;
    gap: 20px;
}
.red-btn{
    background: #C80205;
    color: white;
}
.red-btn:hover{
    background: grey;
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
	
}
.icon:hover{
    background: #C80205;
	transform: translateY(-10px);
}

/* ----- FEATURED IMAGE BOX ----- */
.acc-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;

}

/* -- ## --- TOP HEADER  -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: #444545;
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: #444545;
    margin-bottom: 15px;
}


/* ----- PROJECTS ----- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px #c0c4c4;
    overflow: hidden;
}
.project-box>i{
    font-size: 50px;
    color: #C80205;
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    color: #777;
}


/* ----- SECTION CONTACT ----- */
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}



/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: #C80205;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px #c0c4c4;
    overflow: hidden;
}
.contact-info>h2{
    color: white;
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-block: 5px;
}


/* ----- CONTACT FORM ----- */
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C80205;
    color: white;
}

.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    padding-block: 40px 60px;
}


